@CHARSET "ISO-8859-1";

.offscreen { 
  position: absolute; 
  top: -30em; 
  left: -300em; 
} 

table#gallery {
	background: #F0F0F2;
	
}

table form#searchform {
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 25px;
	padding-top: 25px;
	background: #F0F0F2;
	
}

div#pagination {
	padding-top: 20px;
	padding-bottom: 15px;
	background: #F0F0F2;
}

div#pagination span{
	padding-right: 20px;
	padding-left: 20px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
   	font-weight: bold; 
   	font-size: medium; 
	
}

div#pagination a{
	padding-right: 20px;
	padding-left: 20px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
   	font-weight: bold; 
   	font-size: medium; 
	
}

div#hmenu { 
   margin: 0; 
   padding: .3em 0 .3em 0; 
   background: #FFFFFF; 
   width: 100%; 
   font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
   font-weight: bold; 
   font-size: large; 
   color: #000066; 
   padding-left: 20px;
   padding-top: 10px;
} 

div#hmenu ul { 
   list-style-type: none; 
   margin: 0; 
   padding: 0;
   text-align: right; 
   overflow: hidden;
   background-color: #ffffff;
} 

div#hmenu ul li {
   display: black; 
   text-align: center;
   padding: 24px;
   font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
   font-weight: bold; 
   color: #000066; 
   float: left;   
}

div#hmenu ul li a:link, a:visited {
    display: block;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #000066;
    width: 150px;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}