@CHARSET "ISO-8859-1";

.offscreen { 
  position: absolute; 
  top: -30em; 
  left: -300em; 
} 

table#gallery {
	background: #F0F0F2;
	
}

table form#searchform {
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 25px;
	padding-top: 25px;
	background: #F0F0F2;
	
}

div#pagination {
	padding-top: 20px;
	padding-bottom: 15px;
	background: #F0F0F2;
}

div#pagination span{
	padding-right: 20px;
	padding-left: 20px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
   	font-weight: bold; 
   	font-size: medium; 
	
}

div#pagination a{
	padding-right: 20px;
	padding-left: 20px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
   	font-weight: bold; 
   	font-size: medium; 
	
}

div#hmenu { 
   margin: 0; 
   padding: .3em 0 .3em 0; 
   background: #FFFFFF; 
   width: 100%; 
   font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
   font-weight: bold; 
   font-size: large; 
   color: #000066; 
   padding-left: 20px;
	padding-top: 10px;
} 

div#hmenu ul { 
   list-style: none; 
   margin: 0; 
   padding: 0;
   text-align: right; 
} 

div#hmenu ul li { 
   font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
   font-weight: bold; 
   color: #000066; 
   
}

div#hmenu ul li#title { 
   margin: 0; 
   padding: 0; 
   padding-right: 700px;
   display: inline; 
   text-align: left; 
   font-size: large; 
}

div#hmenu ul li#link { 
   margin: 0; 
   padding: 0; 
   padding-right: 50px;
   display: inline; 
   text-align: left; 
   font-size: large; 
}

div#hmenu ul li#search { 
   margin: 0; 
   padding: 0; 
   padding-right: 100px;
   display: inline; 
   text-align: left; 
   font-size: large; 
}

div#hmenu ul li form{ 
   margin-right: 10px; 
} 

div#hmenu ul li form a{ 
   margin-right: 100px; 
} 

div#hmenu ul a:link{ 
   margin: 0; 
   padding: .3em .4em .3em .4em; 
   text-decoration: none; 
   font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
   font-weight: bold; 
   font-size: medium; 
   color: #000066; 
} 

div#hmenu ul a:visited{ 
   margin: 0;
   margin-right: 100px; 
   padding: .3em .4em .3em .4em; 
   text-decoration: none; 
   font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
   font-weight: bold; 
   font-size: medium; 
   color: #000066; 
} 

div#hmenu ul a:active{ 
   margin: 0; 
   padding: .3em .4em .3em .4em; 
   text-decoration: none; 
   font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
   font-weight: bold; 
   font-size: medium; 
   color: #ffffff; 
} 

div#hmenu ul a:hover{ 
   margin: 0; 
   padding: .3em .4em .3em .4em; 
   text-decoration: none; 
   font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
   font-weight: bold; 
   font-size: medium; 
   color: #ffffff; 
   background-color: #000066; 
}